.destinations {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}
.img__container {
    --gap:1rem;
    --num-cols: 5;
    --row-heigh: 300px;

    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    padding: 1rem 0;
    gap: var(--gap);
}
.destinations img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.span__3 {
    grid-column: span 3;
}
.image__row__2 {
    grid-column: span 2;
}
@media screen and (max-width: 940px){
    .img__container {
        --num-cols: 2;
        --row-heigh: 200px;
        --gap: .5rem
    }
    .span__3 {
        grid-column: span 1;
    }
}
