@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

:root {
    --primary-dark: #000336;
    --primar-light: #D8B370;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2rem;
}
.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 1rem;
}


button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 940px) {
    h1{
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem
    }
}


@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}